@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<testi13._12.Models.Eläinlääkärit>
@{
    ViewData["Title"] = "Index";
}

<h2>Eläinlääkärit-tietokanta</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ideläinlääkäri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puhelinnumero)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ideläinlääkäri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puhelinnumero)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Ideläinlääkäri">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Ideläinlääkäri">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Ideläinlääkäri">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
