

@model IEnumerable< testi13._12.Models.Omistajat>
@{
        ViewData["Title"] = "Index";
    }

<h2>Omistajatietokanta</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idomistaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puhelinnumero)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idomistaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sukunimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Osoite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puhelinnumero)
                </td>
             
               
            </tr>
        }
    </tbody>
</table>
